In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
# 讀資料

train = pd.read_csv('/kaggle/input/playground-series-s5e5/train.csv')
test = pd.read_csv('/kaggle/input/playground-series-s5e5/test.csv')
sample = pd.read_csv("/kaggle/input/playground-series-s5e5/sample_submission.csv")

In [3]:
train.shape

(750000, 9)

In [4]:
test.shape

(250000, 8)

In [5]:
sample.shape

(250000, 2)

In [6]:
train.head()

   id     Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
0   0    male   36   189.0    82.0      26.0       101.0       41.0     150.0
1   1  female   64   163.0    60.0       8.0        85.0       39.7      34.0
2   2  female   51   161.0    64.0       7.0        84.0       39.8      29.0
3   3    male   20   192.0    90.0      25.0       105.0       40.7     140.0
4   4  female   38   166.0    61.0      25.0       102.0       40.6     146.0

In [7]:
test.head()

       id     Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0  750000    male   45   177.0    81.0       7.0        87.0       39.8
1  750001    male   26   200.0    97.0      20.0       101.0       40.5
2  750002  female   29   188.0    85.0      16.0       102.0       40.4
3  750003  female   39   172.0    73.0      20.0       107.0       40.6
4  750004  female   30   173.0    67.0      16.0        94.0       40.5

In [8]:
sample.head()

       id  Calories
0  750000    88.283
1  750001    88.283
2  750002    88.283
3  750003    88.283
4  750004    88.283

In [9]:
def over_view(df,name = "dataframe"):
    print(f"\n{name.upper()} - Basic Info")
    display(df.info())
    display(df.describe(include = "all").T)
over_view(train,"train")
over_view(test,"test")

TRAIN - Basic Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          750000 non-null  int64
 1   Sex         750000 non-null  object
 2   Age         750000 non-null  int64
 3   Height      750000 non-null  float64
 4   Weight      750000 non-null  float64
 5   Duration    750000 non-null  float64
 6   Heart_Rate  750000 non-null  float64
 7   Body_Temp   750000 non-null  float64
 8   Calories    750000 non-null  float64
dtypes: float64(6), int64(2), object(1)
memory usage: 51.5+ MB

None

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,750000.0,NaN,NaN,NaN,374999.5,216506.495284,0.0,187499.75,374999.5,562499.25,749999.0
Sex,750000,2,female,375721,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,750000.0,NaN,NaN,NaN,41.420404,15.175049,20.0,28.0,40.0,52.0,79.0
Height,750000.0,NaN,NaN,NaN,174.697685,12.824496,126.0,164.0,174.0,185.0,222.0
Weight,750000.0,NaN,NaN,NaN,75.145668,13.982704,36.0,63.0,74.0,87.0,132.0
Duration,750000.0,NaN,NaN,NaN,15.421015,8.354095,1.0,8.0,15.0,23.0,30.0
Heart_Rate,750000.0,NaN,NaN,NaN,95.483995,9.449845,67.0,88.0,95.0,103.0,128.0
Body_Temp,750000.0,NaN,NaN,NaN,40.036253,0.779875,37.1,39.6,40.3,40.7,41.5
Calories,750000.0,NaN,NaN,NaN,88.282781,62.395349,1.0,34.0,77.0,136.0,314.0

TEST - Basic Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          250000 non-null  int64
 1   Sex         250000 non-null  object
 2   Age         250000 non-null  int64
 3   Height      250000 non-null  float64
 4   Weight      250000 non-null  float64
 5   Duration    250000 non-null  float64
 6   Heart_Rate  250000 non-null  float64
 7   Body_Temp   250000 non-null  float64
dtypes: float64(5), int64(2), object(1)
memory usage: 15.3+ MB

None

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,250000.0,NaN,NaN,NaN,874999.5,72168.927986,750000.0,812499.75,874999.5,937499.25,999999.0
Sex,250000,2,female,125281,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,250000.0,NaN,NaN,NaN,41.452464,15.177769,20.0,28.0,40.0,52.0,79.0
Height,250000.0,NaN,NaN,NaN,174.725624,12.822039,127.0,164.0,174.0,185.0,219.0
Weight,250000.0,NaN,NaN,NaN,75.147712,13.979513,39.0,63.0,74.0,87.0,126.0
Duration,250000.0,NaN,NaN,NaN,15.415428,8.349133,1.0,8.0,15.0,23.0,30.0
Heart_Rate,250000.0,NaN,NaN,NaN,95.479084,9.450161,67.0,88.0,95.0,103.0,128.0
Body_Temp,250000.0,NaN,NaN,NaN,40.036093,0.778448,37.1,39.6,40.3,40.6,41.5

In [10]:
# 合併
combined = pd.concat([train, test], ignore_index=True)

In [11]:
combined

,id,Sex,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,0,male,36,189.0,82.0,26.0,101.0,41.0,150.0
1,1,female,64,163.0,60.0,8.0,85.0,39.7,34.0
2,2,female,51,161.0,64.0,7.0,84.0,39.8,29.0
3,3,male,20,192.0,90.0,25.0,105.0,40.7,140.0
4,4,female,38,166.0,61.0,25.0,102.0,40.6,146.0
...,...,...,...,...,...,...,...,...,...
999995,999995,female,56,159.0,62.0,6.0,85.0,39.4,NaN
999996,999996,male,32,202.0,101.0,3.0,84.0,38.4,NaN
999997,999997,female,31,164.0,64.0,14.0,98.0,40.1,NaN
999998,999998,female,62,158.0,61.0,25.0,106.0,40.7,NaN
999999,999999,male,31,199.0,96.0,15.0,98.0,39.9,NaN

In [12]:
# 在測試集補上空的目標欄位
test['Calories'] = np.nan

In [13]:
# 標記訓練/測試資料
train['is_train'] = 1
test['is_train'] = 0

In [14]:
# 合併
combined = pd.concat([train, test], ignore_index=True)

In [15]:
# 找類別欄位並做One-hot encoding
cat_columns = combined.select_dtypes(include=['object']).columns.tolist()
combined = pd.get_dummies(combined, columns=cat_columns)

In [16]:
# 分回訓練集
train_data = combined[combined['is_train'] == 1].copy()
train_data = train_data.drop(columns=['is_train', 'id'])
train_data = train_data.dropna(subset=['Calories'])

In [17]:
# 準備X和y
X = train_data.drop('Calories', axis=1)
y = train_data['Calories']

In [18]:
# 訓練模型
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [19]:
print("模型係數（weights）:", model.coef_)
print("模型截距（intercept）:", model.intercept_)

模型係數（weights）: [  0.53207573  -0.14626323   0.26964886   6.75960902   1.94866858
 -18.18538501   0.84819094  -0.84819094]
模型截距（intercept）: 509.29925091188795

In [20]:
y_pred = model.predict(X)
print("前5筆預測值:", y_pred[:5])
print("前5筆真實值:", y.values[:5])

前5筆預測值: [149.03781834  34.29223058  18.21955186 148.73368861 151.96299336]
前5筆真實值: [150.  34.  29. 140. 146.]